{% extends 'base.html' %}

{% block content %}

<div class="row">

<div class="col-sm-8">
 <h2>{{ object.title }} </h2>
    {% if object.productimage_set.count > 0 %}
    <div>
        {% for img in object.productimage_set.all %}
            {{ img.image.file }}
            {{ img.image.url }}
        <img class="img-responsive" src="{{ img.image.url }}"/>
        {% endfor %}
    </div>
    {% endif %}
    <p class="lead">
{{ object.description }}
    </p>

</div>

{#Product SideBar#}
<div class="col-sm-4">
    <h3>{{ object.price }}</h3>
    {% if object.variation_set.count > 1 %}
        <select class="'form-control">
        {% for vari_obj in object.variation_set.all %}
        <option value = '{{ vari_obj }}'>{{ vari_obj }}</option>
        {% endfor %}
        </select>
    {% endif %}
    <br/>
    <a href ='#'>Add to Cart</a>
    <br/>
    <hr/>
    <h4>Related Products</h4>

 <div class="row">
{%  for product in related %}
    <div class="col-xs-6">
    <div class="thumnail text-center">
    <h4><a href=" {{ product.get_absolute_url }}">{{ product.title }}</a></h4>
        {% if product.get_image_url %}
        <a href ='{{ product.get_absolute_url }}'><img id="img" class="img-responsive" src="{{ product.get_image_url }}"/></a><br/>
        {% endif %}
    </div>
    </div>
    {% cycle '' '</div><div class="row"">' %}
{% endfor %}

 </div>
</div>

{# End of Product SideBar#}



{% endblock %}