cffi==1.8.3
cryptography==1.5.2
Django==1.8.15
django-crispy-forms==1.6.0
django-registration-redux==1.4
enum34==1.1.6
idna==2.0
ipaddress==1.0.17
ndg-httpsclient==0.4.2
pyasn1==0.1.8
pycparser==2.14
pyOpenSSL==16.1.0
requests==2.11.1
six==1.9.0
